

p{
    margin: 0px;
}



.art-services-container{
    padding: 10px;
}

.art-services-content{
    color: rgb(180,180,180);
    border: rgb(181, 180, 180) solid 2px;
    background-color: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   border-radius: 50px;
   padding: 10px;
   margin: 10px;
}

.box{
    /* border: rgba(255,255,255,0.7) solid 2px;
    background-color: rgba(255,255,255,0.5); */
    color: rgb(218, 215, 215);
    border: rgba(180,180,180,0.7) solid 2px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   border-radius: 50px;
   padding: 10px;
   margin: 10px;
   min-width: 60vw;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: rgba(255,255,255,0.7) solid 2px; */
}

.contact-container{
    min-height:150px;
}

.event-services-content{
    color: rgb(180,180,180);
    border: rgb(180,180,180) solid 2px;
    background-color: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   border-radius: 50px;
   padding: 10px;
   margin: 10px;
}




.gallery-container{
    border: rgba(0, 0, 0, 0.7) solid 2px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    align-items: space-evenly;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    min-width: 60vw;
    padding: 30px;
}

.gallery-text{
    color: rgb(255,255,255);
    font-size: 15px;
    margin-bottom: -30px;
    margin-top: 15px;
}

.image{
    object-fit: scale-down;
}

/* .image {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    padding: 1rem;
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    /* z-index: 50; */
/* } */ 
/* 
image:hover{
  border: white solid 5px;
  cursor: pointer;
} */

.intro-container{
    padding: 10px;
    font-size: 20px;
    color: rgb(189, 185, 185);
   min-width: 60vw;
   min-height: 40px;
    
}

.modal {
    width: 100vw;
    height: 100vh;
    border: solid 3px rgba(0,0,0,0.8);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    top: 0%;
    right: 0%;
    padding: 0;
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-overlay{
    border: solid 3px rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    background-color:  rgba(0, 0, 0, 0.5);
    top: 0%;
    right:0%;
    z-index: 995;
    padding: 0%;
    margin: 0%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.photo-div{
    height: 70vh;
    width: 70vw;
    object-fit: scale-down;
}

.picture{
    object-fit: scale-down;
    height: 100%;
    width: 100%;
}


.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 200px;
}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    /* margin: 30px; */
    /* margin: auto; */
  
}

.slide:hover{
    /* border: 1px solid rgb(255,255,255); */
    cursor: pointer;
}

.slider-track{
    display: flex;
    flex-direction: row;
    max-width: 700px;
    animation: scroll 40s linear infinite;
    object-fit: scale-down;
}

.slider-track:hover{
    animation-play-state: paused;
}

.small-box{
    /* border: rgba(255,255,255,0.7) solid 2px;
    background-color: rgba(255,255,255,0.5); */
    color: rgb(218, 215, 215);
    border: rgba(0,0,0,0.7) solid 2px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   border-radius: 50px;
   padding: 10px;
   margin: 10px;
   min-width: 30vw;
}

.small-box:hover{
    border: rgb(255,255,255);
}

@keyframes scroll{
    0%{
      transform:translateX(90%);
    }
   100%{
    transform: translateX(-99%);
   }
  }



.box{
    /* border: rgba(255,255,255,0.7) solid 2px;
    background-color: rgba(255,255,255,0.5); */
    color: rgb(218, 215, 215);
    border: rgba(0,0,0,0.7) solid 2px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   border-radius: 50px;
   padding: 10px;
   margin: 10px;
   min-width: 60vw;
}


  


