
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=swap');
body {
  border: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  font-family:'Macondo', cursive;
  margin: 0;
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}